
.banner{
    background:url(img/33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}


.bb{
    background: url(img/30.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px; 
}

.aa{
    background: url(img/20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px; 
}